* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  background: linear-gradient(-45deg, rgb(255, 109, 133), rgb(187, 0, 255));
  min-height: 100vh;
  width: 100%;
}

section {
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section input,
section button {
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 1rem;
}

section button {
  cursor: pointer;
  background-color: rgb(67, 205, 159);
  color: #fff;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#output,
#output2 {
  margin-top: 1rem;
  background-color: #fff;
  padding: 10px;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  overflow-y: scroll;
  box-shadow: -5px -5px 10px #0000008a;
}

#output::-webkit-scrollbar,
#output2::-webkit-scrollbar {
  width: 10px;
}

#output::-webkit-scrollbar-track,
#output2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.197);
}

#output::-webkit-scrollbar-thumb,
#output2::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.737);
  outline: 1px solid rgba(112, 128, 144, 0.833);
}

#output,
#output2 li {
  list-style: none;
}

#output,
#output2 li input,
#output,
#output2 li label {
  font-size: 1.3rem;
  cursor: pointer;
  line-height: 1.8rem;
}

.result {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#options,
#options option {
  padding: 10px;
  font-size: 20px;
  padding: 8px 15px;
  outline: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
